@import '../../styles/extension.scss';
@import '../../styles/colors.scss';

.gameArea {
  width: 90%;
  @extend %centered;
  gap: 10px;
	flex-wrap: wrap;
  // margin-left: 50%;
  // transform: translate(-50%);
  margin-bottom: 10px;
  // perspective: 1000px;
  transition: all .3s ease-in-out;
}