@import '../../../../styles/extension.scss';
@import '../../../../styles/colors.scss';
@import '../../../../styles/mixins.scss';

.tableRow {
  @extend %centered;
  gap: 20px;
  border: 1px solid $water-color;
}

.tableData {
  @include contentLimit(1);
  text-align: center;
  width: 120px;
  padding: 0 20px;
}

@media (max-width: 600px) {
  .tableHead {
    font-size: 16px;
  }

  .tableData {
    @include contentLimit(1);
    text-align: center;
    width: 100px;
    padding: 0 10px;
  }
}

@media (max-width: 500px) {
  .tableData {
    @include contentLimit(1);
    text-align: center;
    width: 80px;
    padding: 0 10px;
  }
}

@media (max-width: 400px) {
  .tableData {
    @include contentLimit(1);
    text-align: center;
    width: 60px;
    padding: 0 5px;
  }
}

@media (max-width: 320px) {
  .tableData {
    @include contentLimit(1);
    text-align: center;
    width: 40px;
    padding: 0 5px;
  }
}