@import url('https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;1,700&display=swap');
@import './styles/colors.scss';

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Marvel', sans-serif;
  min-height: 100vh;
  max-width: 100%;
  background-color: $black-color;
  font-size: 22px;
  font-weight: 400;
  color: $water-color;

}

button {
  outline: none;
  padding: 0;
  color: inherit;
  cursor: pointer;

}

img,
svg {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}