@import '../../../styles/extension.scss';
@import '../../../styles/colors.scss';

.fieldWrapper {
  display: flex;
  max-width: 50px;
}

.paramField {
  color: $red-color;
  font-size: 24px;
  font-weight: 700;
  padding: 0 15px;
}

@media (max-width: 720px) {
  .paramField {
    font-size: 20px;
  }
}